<template name="buildItem">
    <div class="post">
        <div class="post-content">
            <h3><a href="{{pathFor 'buildPage'}}">{{title}}</a><span>{{domain}}</span></h3>
        </div>
        <a href="{{pathFor 'play'}}" class="discuss btn btn-default">Play</a>
    </div>
</template>