<template name="header">
    <header class="navbar">
        <div class="navbar-inner">

            <a class="brand" href="{{pathFor 'home'}}">Unity Web GL Hosting</a> | <a href="{{pathFor 'buildsList'}}">Builds</a>
            <div class="nav pull-right">
                <!--<ul >-->
                    <!--<li>{{>loginButtons}}</li>-->
                <!--</ul>-->
                {{>loginButtons}}
            </div>
            <!--{{> loginButtons align="right"}}-->
        </div>
    </header>
</template>