<template name="home">
    {{#if currentUser}}
    <a href="{{pathFor 'newBuild'}}" class="discuss btn btn-default">Upload</a>
{{else}}
        <p align="center"><h3>Please, log in!</h3></p>
        {{/if}}
    </template>